
.isCorrect_true{
  background-color: green;
}

.isCorrect_false{
  background-color: red;
}
#buttons li {
  float: left;
  list-style: none;
  text-align: center;
  margin-right: 10px;
  width: 100px;
  border: 1px solid;
  line-height: 30px;
  color: #FFF;
  cursor:pointer;

}

#buttons{
bottom: 0px;
    position: absolute;
    margin-bottom: 10%;
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    right: 0px;
    width: 50%;
    /* border: 3px solid #73AD21; */
    padding: 10px;
    }
#buttons{
    bottom: 0px;
    
    }